* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Sora", sans-serif;
  color: grey;
}

:root {
  --primary-color: #212529;
  --secondary-color: #343a40;
  --accent-color: #495057;
  --background-color: #6c757d;
  --text-color-1: #adb5bd;
  --text-color-2: #ced4da;
  --text-color-3: #dee2e6;
  --text-color-4: #e9ecef;
  --text-color-5: #f8f9fa;
}

body {
  background-color: var(--secondary-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-theme {
  --bs-body-bg: #121212;
  --bs-body-color: #ffffff;
}
.light-theme {
  --bs-body-bg: #ffffff;
  --bs-body-color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.flag {
  width: 20px;
  margin-right: 8px;
}

button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 12px;
  cursor: pointer;
}

button img {
  width: 20px;
  margin-right: 8px;
}

.container {
  background-color: darkgray;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 2px;
  margin-top: 200px;

  height: auto;
  width: auto;

  border: none;
  border-radius: 8px;
}

.form {
  background-color: lightgray;

  margin: 8px;
  padding: 8px;

  border: none;
  border-radius: 8px;

  height: auto;
  width: auto;
}

.result {
  margin-top: 20px;
}

.chart {
  background-color: lightgray;

  margin: 8px;
  padding: 8px;

  border: none;
  border-radius: 8px;

  height: auto;
  width: auto;
}

canvas {
  max-width: 100%;
  height: 400px;
}

.resultChart {
  margin-top: 20px;
}
